.pokemon-finder-container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.pokemon-finder {
  width: 2048px;
  height: 1448px;
  background-image: url('./assets/kantomap.png');
  background-size: cover;
}

.p-searchbar-container {
  position: absolute;
  top: 0;
  left: 70px;
}

.p-searchbar-input {
  width: 300px;
  height: 40px;
  padding: 0 10px;

}

.p-searchbar-suggestions {
  margin: 0;
  background: white;
  color: black;
}

.p-searchbar-suggestion {
  display: flex;
  max-width: 200px;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin: 5px 0;
  cursor: pointer;
  p {
    margin: 0
  }
}