$white: #fbf0de;
$pink: #e9bbb9;
$spriteMaxWidth: 1500px;
$spriteMaxHeight: 607px;

@mixin gradientButton() {
	$button_color1: #bca4d1;
	$button_color2: #f8c8ad;
	background: $button_color1;
	background: -moz-linear-gradient(
		to right,
		$button_color2 0%,
		$button_color1 100%
	);
	background: -webkit-linear-gradient(
		to right,
		$button_color2 0%,
		$button_color1 100%
	);
	background: linear-gradient(
		to right,
		$button_color2 0%,
		$button_color1 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9bbb9', endColorstr='#bdb2c3',GradientType=0 );
}

@mixin gradient($direction) {
	background: rgb(233, 187, 185);
	background: -moz-linear-gradient(
		$direction,
		rgba(233, 187, 185, 1) 50%,
		rgba(189, 178, 195, 1) 100%
	);
	background: -webkit-linear-gradient(
		$direction,
		rgba(233, 187, 185, 1) 50%,
		rgba(189, 178, 195, 1) 100%
	);
	background: linear-gradient(
		$direction,
		rgba(233, 187, 185, 1) 50%,
		rgba(189, 178, 195, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9bbb9', endColorstr='#bdb2c3',GradientType=0 );
}

@mixin absolute($top, $left,$bottom,$right) {
	position: absolute;
	top: $top;
	left: $left;
	bottom: $bottom;
	right: $right;
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
	  @content;
	}
	@keyframes #{$animation-name} {
	  @content;
	}
  }
  
@mixin animation($str) {
	-webkit-animation: #{$str};
	animation: #{$str};
}
@include keyframes(bubblesLoop) {
	0%{
		background-position: 0px;
	}
	33%{
		background-position: -300px;
	}
	66%{
		background-position: -600px;
	}
	100%{
		background-position: -900px;
	}
}

.root {
	@include absolute(0, 0, 0, 0);
	
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;

	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */

	&::-webkit-scrollbar {
		display: none;
	}
	background-image: url('./assets/landing_assets/logo_black.png');
	background-position: right bottom;
	background-color: #f2efe8;
	background-repeat: no-repeat;
    background-size: 80px;
}


.button {
	display: inline-block;
	background-color:#c3beb3;
	min-width: 200px;
  max-width: 300px;
	padding: 9px;
	border-radius: 25px;
	position: relative;
	color: white;
	font-size: 40px;
	margin: 10px;
	transition: ease-out 0.3s;
	&:hover {
		background-color: #858076;
	}
}

.page-container {
	scroll-snap-align: start;
	scroll-behavior: smooth;
	height: 100vh;
	width: 100vw;
	display: flex;

	#greetings {
		color: black;
		font-size: 56px;
		margin-top: 80px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		h1, ul {
			margin: 0
		}
	}

	&#portfolio-hub {
		transform: translateX(-100%);
		transition: ease-out 0.5s;
		&.active-page-0 {
			transform: translateX(0%);
		}
		&.active-page-1 {
			transform: translateX(-100%);
		}
		&.active-page-2 {
			transform: translateX(-200%);
		}
		.portfolio-page {
			height: 100vh;
			min-width: 100vw;
			position: relative;
			.returnToCenter {
				position: absolute;
				top: 0;
				right: 0;
				width: 60px;
				height: 60px;
				display: block;
				color: black;
				font-size:  60px;
				padding: 5px;
				cursor: pointer;
			}
		}
		#portfolio-center {
			height: 100%;
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: space-around;
			.portfolio-link {
				display: flex;
				width: 300px;
				height: 300px;
				color: black;
				justify-content: center;
				align-items: center;
				font-size: 80px;
				padding: 10px;
				padding-bottom: 40px;
				line-height: 50px;
				cursor: pointer;
				@include animation('bubblesLoop 0.5s');
				animation-timing-function:step-start;
				animation-iteration-count: infinite;
				&#artlink {
					background-image: url('./assets/landing_assets/bubble2sprite.png');
				}
				&#devlink {
					background-image: url('./assets/landing_assets/bubble3sprite.png');
				}
				&#aboutlink {
					background-image: url('./assets/landing_assets/bubble1sprite.png');
				}
			}
		}
		
	}
	
	
}

@media screen and (max-width: 600px) {
	.page-container > #greetings {
		margin-top: 50px
	}
	h1 {
		font-size: 50px;
	}
	.links {
		display: flex;
		flex-direction: column;	
		align-items: center;
	}
}
#calculableMe {
	z-indeX: 3;
	position: fixed;
	bottom: -50px;
	left: calc(50% - 250px);
	max-width: 500px;
	max-height: $spriteMaxHeight;
	overflow: hidden;
	transition: ease-out 0.3s;
	#mouth {
		// opacity: 0;
		position: absolute;
		top: 330px;
		left: 185px;
		width: 50px;
		height: 50px;
		background-image: url('./assets/landing_assets/mouthsprite.png');
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 2;
		&.surprised {
			background-image: url('./assets/landing_assets/mouth2sprite.png');
		}
	}
	#eyesContainer {
		// opacity: 0;
		position: absolute;
		top: 210px;
		left: 88px;
		width: 263px;
		height: 110px;
		background-color: white;
	}
	#eyes {
		position: absolute;
		top: 0;
		left: calc(20px);
		width: 213px;
		height: 87px;
		background-image: url('./assets/landing_assets/eyessprite.png');
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 0;
	}
}
#cantblink {
	width: 100%;
	height: 100%;
	background-image: url('./assets/landing_assets/blinkstatic.png');
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	transition: ease-out 0.3s;
}
#me {
	// opacity: 0;
	position: absolute;
	max-width: $spriteMaxWidth;
	max-height: $spriteMaxHeight;
	background-image: url('./assets/landing_assets/blinksprite.png');
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	pointer-events: none;

	&.position1 {
		left: 0;
	}
	&.position2 {
		left: -500px;
	}
	&.position3 {
		left: -1000px;
	}
}

.clouds {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url('./assets/landing_assets/clouds_alt2.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	z-index: -1;
}

.cats {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url('./assets/cats.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	z-index: -1;
	h1 {
		color: black;
		font-size: 70px;
		text-shadow: #fbf0de 1px 0 10px;
	}
}
.section-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.social-links-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.social-link {
	margin: 10px;
	width: 30px;
	height: 30px;
	object-fit: contain;
	&:hover {
		transform: translateY(-2px);
	}
}

#web-works, #art-works {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	padding: 20px;
	height: 100vh;
	padding-bottom: 40px;
	h1 {
		color: black;
		margin: 10px;
		text-decoration: underline;
	}
	.section-descriptor {
		margin: 30px auto;
		color: #333;
		max-width: 650px;
	}
	.button {
		margin: auto;
		font-size: 30px;
		margin-bottom: 35px;
	}
}

.section-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.item-container {
	// border: 10px solid #fbf0de;
	background-color: #fbf0de;
	// border-radius: 10px;
	width: 400px;
	height: 320px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: 4px 4px 26px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 4px 4px 26px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 4px 4px 26px 0px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease-out;
	border: 1px solid #fff6ea;

	.item-image {
		position: absolute;
		width: 100%;
		height: 250px;
		background-size: cover;
		background-position: bottom;
		background-repeat: no-repeat;
		pointer-events: none;
		-webkit-transition: -webkit-filter 0.2s ease-out;
		transition: filter 0.2s ease-out;
	}
	.item-details {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #333;
		transform: translateY(250px);
		transition: all ease-out 0.3s;
		color: #bbb2c2;
		font-size: 15px;
		cursor: default;
		text-align: left;
		pointer-events: auto;
		display: flex;
		flex-direction: column;

		p {
			margin-top: 0;
			font-size: 20px;
		}

		&:hover {
			background-color: #444;
			.item-details-collapse {
				transform: translateY(-2px);
			}
		}

		.item-details-collapse {
			position: absolute;
			top: 23px;
			right: 23px;
			width: 30px;
			height: 20px;
			background-image: url('./assets/landing_assets/chevron.png');
			background-repeat: no-repeat;
			background-size: cover;
			transition: ease-out 0.3s;
		}

		.item-details-inner {
			padding: 20px;
			padding-top: 0;
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}

		.item-name {
			font-family: 'Jua', Helvetica, Arial, sans-serif;
			font-size: 24px;
			color: $white;
			margin: 0;
			position: relative;
			cursor: pointer;
			padding: 20px;
		}

		.item-tools {
			color: $pink;
		}

		.item-label {
			color: #8392b3;
			display: inline;
		}

		.item-link {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 120px;
			height: 40px;
			border-radius: 20px;
			color: $white;
			text-decoration: none;
			cursor: pointer;
			font-size: 1.2em;
			@include gradientButton();
			transition: all ease-out 0.15s;

			&:hover {
				width: 125px;
			}
		}
	}

	&.active {
		.item-image {
			-webkit-filter: blur(10px);
			filter: blur(10px);
		}
		.item-details-collapse {
			transform: rotateX(180deg);
		}
		.item-details {
			transform: translateY(0px);
			&:hover {
				.item-details-collapse {
					transform: rotateX(180deg) translateY(-2px);
				}
			}
		}
	}
}
.stickers-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.sticker-container {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 5px;
}

.sticker-has-link {
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 200px;
		height: 200px;
		background-repeat: no-repeat;
		background-position: bottom right;
		background-image: url('./assets/landing_assets/toggle_link.png');
		background-size: 20px;
		opacity: 0.5;
	}
}

.sticker-image {
	width: 200px;
	height: 200px;
	object-fit: contain;
}

.emote-container {
    position: relative;
    width: 500px;
    height: 350px;
    margin: 5px;
}

.emotes-image {
	width: 500px;
	height: 350px;
	object-fit: contain;

}

.video-item {
	padding: 20px;
}

.aboutMeModal {
	max-width: 850px;
    max-height: 550px;
    margin: 30px auto;
    border: 1px solid;
    padding: 10px 30px;
    border-radius: 30px;
    background: white;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

#cats {
	position: fixed;
	bottom: 0;
	z-index: 3;
	display: flex;
	align-items: flex-end;
	transform: translateY(60%);
	transition: ease-in-out 0.2s;
	padding-left: 20px;
	cursor: pointer;
	&:hover  {
		transform: translateY(0);
		.cat {
			&::after {
				opacity: 1;
			}
		}
	}
	.cat {
		background-repeat: no-repeat;
		background-size: cover;
		&::after {
			position: absolute;
			opacity: 0;
		}
		&#KC {
			background-image: url('./assets/landing_assets/KC_blink.gif');
			height: 200px;
			width: 160px;
			&::after {
				content: '?';
				bottom: 50px;
				left: 30px;
			}
		}
	
		&#Chickidee {
			background-image: url('./assets/landing_assets/chickidee_blink.gif');
			width: 200px;
			height: 180px;
			margin-left: -10px;
			margin-bottom: -10px;
			position: relative;
			&::after {
				content: 'meow';
				position: absolute;
				top: -25px;
				left: 80px;
			}
		}
	}
}

@media screen and (max-width: 600px) { 
	#calculableMe {
		pointer-events: none;
	}
	#cats{
		display: none;
	}

	.page-container {
		&#portfolio-hub {
			#portfolio-center {
				flex-direction: column;
				justify-content: center;
				.portfolio-link {
					background-image: none !important;
					min-width: 200px;
					height: 50px; 
					padding: 0;
					margin: 10px 0;
					font-size: 50px;
				}
			}
		}
	}
	.ReactModal__Body--open{
    #cantblink  {
			opacity: 0
		}
	}
}
