$white: #fbf0de;
$pink: #e9bbb9;
$spriteMaxWidth: 1500px;
$spriteMaxHeight: 607px;

@mixin gradientButton() {
	$button_color1: #bca4d1;
	$button_color2: #f8c8ad;
	background: $button_color1;
	background: -moz-linear-gradient(
		to right,
		$button_color2 0%,
		$button_color1 100%
	);
	background: -webkit-linear-gradient(
		to right,
		$button_color2 0%,
		$button_color1 100%
	);
	background: linear-gradient(
		to right,
		$button_color2 0%,
		$button_color1 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9bbb9', endColorstr='#bdb2c3',GradientType=0 );
}

@mixin gradient($direction) {
	background: rgb(233, 187, 185);
	background: -moz-linear-gradient(
		$direction,
		rgba(233, 187, 185, 1) 50%,
		rgba(189, 178, 195, 1) 100%
	);
	background: -webkit-linear-gradient(
		$direction,
		rgba(233, 187, 185, 1) 50%,
		rgba(189, 178, 195, 1) 100%
	);
	background: linear-gradient(
		$direction,
		rgba(233, 187, 185, 1) 50%,
		rgba(189, 178, 195, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9bbb9', endColorstr='#bdb2c3',GradientType=0 );
}

@mixin absolute($top, $left,$bottom,$right) {
	position: absolute;
	top: $top;
	left: $left;
	bottom: $bottom;
	right: $right;
}

.page-container {
	background-color: #f2efe8;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;

	#greetings {
		color: black;
		font-size: 56px;
		margin-top: 80px;
		h1, ul {
			margin: 0
		}

		a {
			display: inline-block;
			background-color:#c3beb3;
			width: 200px;
			padding: 9px;
			border-radius: 25px;
			position: relative;
			color: white;
			font-size: 40px;
			margin: 0 10px;
			transition: ease-out 0.3s;
			&:hover {
				background-color: #858076;
			}
		}
			
	}
	#calculableMe {
		position: absolute;
		bottom: -50px;
		left: calc(50% - 250px);
		width: 500px;
		height: $spriteMaxHeight;
		overflow: hidden;
		#mouth {
			position: absolute;
			top: 330px;
			left: 185px;
			width: 50px;
			height: 50px;
			background-image: url('./assets/landing_assets/mouthsprite.png');
			background-repeat: no-repeat;
			background-size: contain;
			z-index: 2;
			&.surprised {
				background-image: url('./assets/landing_assets/mouth2sprite.png');
			}
		}
		#eyesContainer {
			position: absolute;
			top: 210px;
			left: 88px;
			width: 263px;
			height: 110px;
			background-color: white;
		}
		#eyes {
			position: absolute;
			top: 0;
			left: calc(20px);
			width: 213px;
			height: 87px;
			background-image: url('./assets/landing_assets/eyessprite.png');
			background-repeat: no-repeat;
			background-size: contain;
			z-index: 0;
		}
	}
	#me {
		position: absolute;
		width: $spriteMaxWidth;
		height: $spriteMaxHeight;
		background-image: url('./assets/landing_assets/blinksprite.png');
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 1;

		&.position1 {
			left: 0;
		}
		&.position2 {
			left: -500px;
		}
		&.position3 {
			left: -1000px;
		}
	}
}

.clouds {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url('./assets/landing_assets/clouds_alt2.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	z-index: -1;
}

.cats {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url('./assets/cats.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	z-index: -1;
	h1 {
		color: black;
		font-size: 70px;
		text-shadow: #fbf0de 1px 0 10px;
	}
}

.section-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.social-links-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.social-link {
	margin: 10px;
	width: 30px;
	height: 30px;
	object-fit: contain;
	&:hover {
		transform: translateY(-2px);
	}
}

.section-header {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	.header-icon {
		width: 90px;
		height: 60px;
		margin-bottom: 10px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	.header-title {
		color: #faecd9;
		border-bottom: 1px solid;
		padding-bottom: 15px;
		font-family: 'Jua', Helvetica, Arial, sans-serif;
		font-size: 24px;
		margin: auto;
	}
	.header-subtitle {
		font-size: 17px;
		padding-top: 15px;
		padding: 15px 50px;
		text-align: center;
	}
	@media only screen and (max-width: 399px) {
		.header-subtitle {
			padding: 15px;
		}
	}

	@media only screen and (min-width: 400px) and (max-width: 599px) {
		.header-subtitle {
			padding: 15px;
		}
	}
}

.navbar {
	height: 60px;
	background-color: #c8c0ac;
	border-bottom: 10px #b9b19c solid;
	.page-container {
		display: flex;
		flex: 1;
		height: 100%;
		justify-content: space-around;
		flex-direction: row;
		align-items: center;
	}
	a {
		color: white;
		transform: translateY(0);
		transition: ease-out 100ms;
		&:hover {
			transform: translateY(-3px);
		}
	}
}