$white: #fbf0de;
$pink: #e9bbb9;

@mixin gradientButton() {
	$button_color1: #bca4d1;
	$button_color2: #f8c8ad;
	background: $button_color1;
	background: -moz-linear-gradient(
		to right,
		$button_color2 0%,
		$button_color1 100%
	);
	background: -webkit-linear-gradient(
		to right,
		$button_color2 0%,
		$button_color1 100%
	);
	background: linear-gradient(
		to right,
		$button_color2 0%,
		$button_color1 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9bbb9', endColorstr='#bdb2c3',GradientType=0 );
}

@mixin gradient($direction) {
	background: rgb(233, 187, 185);
	background: -moz-linear-gradient(
		$direction,
		rgba(233, 187, 185, 1) 50%,
		rgba(189, 178, 195, 1) 100%
	);
	background: -webkit-linear-gradient(
		$direction,
		rgba(233, 187, 185, 1) 50%,
		rgba(189, 178, 195, 1) 100%
	);
	background: linear-gradient(
		$direction,
		rgba(233, 187, 185, 1) 50%,
		rgba(189, 178, 195, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9bbb9', endColorstr='#bdb2c3',GradientType=0 );
}

.hero-banner {
	min-height: 0;
	display: block;
	padding: 0;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid #fff6ea;
	background-color: #e9bbb9;
	background-image: url('./assets/landing_assets/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;

	.landing-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: inherit;
		overflow: hidden;
		perspective: 1px;
		&.parallax-container {
			box-sizing: content-box;
			&::after {
				content: ' ';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-size: 100%;
				z-index: -1;
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
	}
	#landing-front {
		transform: translateZ(0);
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		align-items: center;
	}
	#landing-middle {
		&.parallax-container::after {
			transform: translateZ(-1px) scale(2.2);
			background-position: center;
			background-repeat: repeat;
			background-attachment: fixed;
			background-image: url('./assets/landing_assets/stars1.png');
		}
	}
	#landing-back {
		&.parallax-container::after {
			transform: translateZ(-2px) scale(3.8);
			background-attachment: fixed;
			background-position: center 130px;
			background-image: url('./assets/landing_assets/clouds.png');
		}
	}
}

.banner {
	margin-top: 150px;
	width: 450px;
	height: 360px;
	background-image: url('./assets/landing_assets/banner.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	cursor: pointer;
}

.clouds {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url('./assets/landing_assets/clouds_alt2.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	z-index: -1;
}

.cats {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url('./assets/cats.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	z-index: -1;
	h1 {
		color: black;
		font-size: 70px;
		text-shadow: #fbf0de 1px 0 10px;
	}
}

@media only screen and (max-width: 399px) {
	.banner {
		margin-top: 80px;
		width: 90%;
	}
}

@media only screen and (min-width: 400px) and (max-width: 599px) {
	.banner {
		margin-top: 90px;
		width: 90%;
	}
}

@media only screen and (max-width: 500px) {
	.hero-banner {
		background-attachment: scroll;
		background-size: auto;
	}
	#landing-middle {
		&.parallax-container::after {
			background-attachment: scroll;
		}
	}
	#landing-back {
		&.parallax-container::after {
			background-attachment: scroll;
		}
	}
}

.section-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.social-links-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.social-link {
	margin: 10px;
	width: 30px;
	height: 30px;
	object-fit: contain;
	&:hover {
		transform: translateY(-2px);
	}
}

.section-header {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	.header-icon {
		width: 90px;
		height: 60px;
		margin-bottom: 10px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	.header-title {
		color: #faecd9;
		border-bottom: 1px solid;
		padding-bottom: 15px;
		font-family: 'Jua', Helvetica, Arial, sans-serif;
		font-size: 24px;
		margin: auto;
	}
	.header-subtitle {
		font-size: 17px;
		padding-top: 15px;
		padding: 15px 50px;
		text-align: center;
	}
	@media only screen and (max-width: 399px) {
		.header-subtitle {
			padding: 15px;
		}
	}

	@media only screen and (min-width: 400px) and (max-width: 599px) {
		.header-subtitle {
			padding: 15px;
		}
	}
}
